// Overview Section styles
.tnk-overview {
  &__card-icon {
    margin-bottom: var(--mantine-spacing-md);

    &--primary {
      color: var(--primary);
    }

    &--secondary {
      color: var(--text-muted);
    }

    &--success {
      color: var(--success);
    }
  }
}
