// Theme Style Switcher styles
.tnk-theme-style-switcher {
  // Root styles
  background-color: var(--background-surface);
  border: var(--mantine-spacing-xs) solid var(--border);

  // Indicator styles
  .mantine-SegmentedControl-indicator {
    background: var(--gradient-primary);
    box-shadow: var(--shadow-glow);
  }

  // Label styles
  .mantine-SegmentedControl-label {
    color: var(--text);

    &[data-active] {
      color: var(--text);
    }
  }
}
